/* Header */

header{
    height: 50px;
    display: flex;
align-items: center;
    justify-content: center;
}

#search{
    width: 90%;
    height: 50%;
}

/* Main */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: left;
    padding: 8px;
  }
  
  thead th:first-child {
    width: 20px;
  }
  
  thead th:last-child,
  tbody td:last-child {
    text-align: center;
    width: 80px;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tbody td:first-child {
    text-align: center;
  }
  
  tbody td:last-child span {
    margin: 0 4px;
    cursor: pointer;
  }
  
  tbody td:last-child span:first-child {
    color: #007bff;
  }
  
  tbody td:last-child span:last-child {
    color: #dc3545;
  }
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .pagination-btn:hover {
    background-color: #3e8e41;
  }
  
  .pagination-btn:disabled {
    background-color: #bfbfbf;
    color: #666;
    cursor: not-allowed;
  }
  
  .pagination-page-numbers {
    margin: 0 10px;
  }
  
  .pagination-page-numbers span {
    margin-right: 5px;
  }
  
  .pagination-page-numbers .current-page {
    font-weight: bold;
  }


/* Footer */

#deleteSelect{
    display: block;
}